.message-input {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(10, 10, 10, 0.8);
  border-top: none;

  .MuiOutlinedInput-root {
    width: 60%;
    border-radius: 50px;
    background-color: rgba(30, 30, 30, 0.8);
    color: #fff;
    margin: 0 auto;
    fieldset {
      border-color: #333;
    }
    &:hover fieldset {
      border-color: #555;
    }
    &.Mui-focused fieldset {
      border-color: #ff4d4d;
    }
  }

  .MuiIconButton-root {
    color: #ff4d4d;
  }
}
